.App {
  text-align: center;
  display:flex;
justify-content: center;
align-items: center;
color:azure;
font-family: "Gill Sans", sans-serif;
}

:root {
  --li-bg-color: rgb(26, 30, 37);
  --txt-rating: rgb(204, 197, 190);
}

body{
  background-color: rgb(38, 39, 40);
}

.container{
  display: flex;
  height: 80vh;
  width:120vh;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  color: antiquewhite;
  font-size: 20px;
}

.todoForm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}

.inputForm{
  font-size: 0.9em;
  text-align: left;
  width: 100%;
  border: solid 2px #8894a0;
  padding: 5px;
  background-color: rgb(29, 30, 32);
  color:#8894a0;
  resize:vertical;
}

.inputForm:focus{
  text-align: left;
 background-color: rgb(200, 151, 116);
 color:rgb(9, 9, 41);
  border: solid 2px rgb(221, 103, 34);
  color: rgb(139, 37, 0);
  outline-style: none;
  box-shadow: none;
  font-size: 0.9em;
/*border-color: transparent;*/
}



.discord {
  background-image: url("../src/assets/discord-logo.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position:top;
  background-clip: border-box;

  display: block;
  width: auto;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space:nowrap;
}

.navBarUnder{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height:12%;
  background-color: transparent;
  width: 100%;
  pointer-events: none;
}

.listButtons{
  flex-direction: column;
  display: flex;
  flex:.3;
  height: 90px;
}

.listInfos{
  flex-direction: column;
  display: flex;
  flex:9;
}

.listButtons button{
  border-radius: 5px;
  width: 26px;
}

.radioContainer{
  flex-direction: row;
  display: flex;
  width: auto;
}

.radioElem{
  flex:1;
  margin-top: 5px;
  margin-bottom: 7px;
  height:40px;
  border-radius: 5px;
  line-height: 40px;
  background-color: rgb(45, 49, 82);
  border: solid 2px rgb(121, 131, 189);
}

.radioElem input:checked ~ .checkmark {
  background-color: rgb(47, 59, 190);
  border: solid 2px rgb(0, 38, 255);
}

.imgDesc{
 /*background-image: url("../src/assets/what.jpg");*/
  background-size: cover;
  background-color: #691732;
  border: 0;
  border-style: none;
  flex:1;
  max-width:50px;
  height:67px;
}

.textDesc{
  background-color: rgb(37, 51, 59);
  color: rgb(207, 225, 225);
  height:auto;
  min-height: 40px;
  text-align: justify;
  text-justify: auto;
  text-indent: 30px;
  font-size: 0.7em;
  padding: 0.6em;
  text-overflow: ellipsis;
  line-height: 0.9em;
  flex:1;
}

.editButton{
  background-image: url("../src/assets/crayon.png");
  background-size: cover;
  background-color: #0e98aa;
}

.editNOButton{
  background-image: url("../src/assets/crayon.png");
  background-size: cover;
  background-color: #6a7274;
}

.editNOButton:hover{
  border: solid 2px transparent;
  border-radius: 5px;
  padding: 6px;
  flex:1 10px;
  margin: 2px;
  background-color: #525f63;
}

.deleteButton{
  background-image: url("../src/assets/croix.png");
  background-size: cover;
  background-color: rgb(201, 9, 51);
}

.deleteNOButton{
  background-image: url("../src/assets/croix.png");
  background-size: cover;
  background-color: #6a7274;
}

.deleteNOButton:hover{
  border: solid 2px transparent;
  border-radius: 5px;
  padding: 6px;
  flex:1 10px;
  margin: 2px;
  background-color: #525f63;
}

.whoButton{
  background-image: url("../src/assets/nom.png");
  background-size: cover;
  background-color: rgb(21, 158, 44);
}

.whoButton:hover{
  background-color: rgb(64, 207, 21);
  border: solid 2px rgb(188, 255, 32);
}

.linkButton{
  background-image: url("../src/assets/link.png");
  background-size: cover;
  background-color: rgb(79, 7, 214);
  flex:0.2 10px;
  border: solid 2px rgb(79, 7, 214);
}

.linkButton:hover{
  background-color: rgb(128, 49, 255);
  border: solid 2px rgb(255, 32, 244);
}

.nolinkButton{
  background-image: url("../src/assets/link.png");
  background-size: cover;
  background-color: rgb(128, 124, 134);
  flex:0.2 10px;
  border: solid 2px rgb(128, 124, 134);
}

.nolinkButton:hover{
  background-color: rgb(128, 124, 134);
  border: solid 2px rgb(128, 124, 134);
}

/*-------------COMMENT----------------*/
.comment_background{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
  list-style-type: none;
}

.comment_container {
  background-color: rgb(57, 57, 59);
  position: fixed;
  max-width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 20;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  max-height: 60%;
  overflow-y: scroll;
  list-style-type: none;
}

.liCommentElem{
  display: flex;
  flex-direction: row;
  background-color: rgb(130, 138, 139);
  border-radius: 10px;
  margin: .3em;
}

.liCommentElemButton{
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
  border-radius: 10px;
}

.textComment{
  flex:1;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(16, 22, 22);
  text-align: justify;
  text-justify: auto;
  text-indent: 10px;
  font-size: 1em;
  text-overflow: ellipsis;
}

.noCommentButton{
  background-image: url("../src/assets/dialogOff.png");
  background-size: cover;
  background-color: rgb(110, 88, 99);
  border: #5f515a solid 1px;
  width:30px;
  height: 30px;
  flex:.24;
  color:rgb(128, 113, 125);
}

.noCommentButton:hover{
  background-color: rgb(17, 100, 255);
  border: rgb(17, 160, 255) solid 1px;
  color:rgb(17, 160, 255);
}

.commentButton{
  background-image: url("../src/assets/dialog.png");
  background-size: cover;
  background-color: #79132c;
  border: #79132c solid 1px;
  width:30px;
  height: 30px;
  flex:.24;
  font-size: 2vh;
  font-weight: bold;
  color:rgb(124, 28, 49);
}

.commentButton:hover{
  background-color: #c90d3c;
  border: #c90d3c solid 1px;
  color: #c90d3c;
}

.iconeComment{

  background-color: rgb(118, 101, 196);
  height: 6vh;
  min-height: 2vh;
  color:black;
  font-weight: 800;
  min-width: 6vw;
  max-width: 6vw;
  flex:1;
  border-radius: 0 10px 10px 0;
}

.closeButton{
  list-style: none;
  flex:.05 5px;
  border: none;
  background-color: grey;
  font-size: 20px;
  color:white;
  cursor: pointer;
  float:right;
  width:10%;
}

.closeButton:hover{
  display: inline-block;
  background-color: rgb(182, 63, 63);
  content: "\00d7";
  border:none;
}

.starButton{
  background-image: url("../src/assets/checkbox.png");
  background-size: cover;
  width:22px;
  height: 22px;
  float: right;
  background-color: rgb(33, 38, 68);
  border: solid 2px rgb(33, 38, 68);
}

.starButton:hover{
  background-color: rgb(0, 96, 175);
  border: none;
}

.showButton{
  height:fit-content;
  border: solid 2px white;
  border-radius: 2px;
  padding:12px 20px 12px 20px;
  flex:1;
  background-color:transparent;
  font-size: 0.9em;
  font-weight: 700;
  color:aliceblue;
}

.showButton:hover{
  background-color: rgb(48, 61, 116);
  border: solid 2px rgb(223, 241, 255);
  color:rgb(255, 255, 255);
}

button{
  border: solid 2px transparent;
  border-radius: 2px;
  padding: 6px;
  flex:1 10px;
  margin: 2px;
}

button:hover{
  background-color: rgb(173, 36, 144);
  border: solid 2px rgb(221, 103, 34);
}

.topButton{
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: auto;
  padding: 30px;
}

#topButElem1{
 flex:2;
}

#topButElem2{
  flex:1;
}

.buttonSubmit{
  display: flex;
  flex-flow: row-reverse;
  flex:.5 10px;
  border: none;
  width: 5em;
  border-radius: 2px;
  padding: 6px;
  font-size: 1.1em;
  border: solid 2px white;
  background-color:transparent;
  color:aliceblue;
}

.buttonSubmit:hover{
  border: none;
  width: 5em;
  border-radius: 2px;
  padding: 6px;
  background-color: rgb(199, 107, 14);
  color:rgb(231, 171, 17);
  border: solid 2px transparent;
}

.submitButFlex{
  display: flex;
  flex-flow: row-reverse;
}

.textLi{
  text-align: left;
  padding-top: 2px;
  padding-left: 4px;
  font-size: 0.7em;
  font-weight: 600;
  color: #95a0ac;
}

.textTitle{
  background-color: var(--li-bg-color);
  text-align: left;
  padding-left: 5px;
  padding-bottom: 3px;
  flex:9;
  font-weight: 600;
}

.textRatingL
{
  flex:1;
  font-weight: 700;
  color: var(--txt-rating);
  border-radius: 0 6px 0 0;
  border: 1px solid var(--li-bg-color);
  background-color: #bdc7cf;
}

.textTime/*  NEW*/
{
  flex:.5;
  color: rgb(238, 71, 80);
  background-color: #691732;
}

.textTime2/*RECENT*/
{
  flex:.5;

  color: rgb(196, 145, 4);
  background-color: #112c5e;
}

.textTime3/*CLASSIC*/
{
  flex:.5;

  color: rgb(102, 206, 219);
  background-color: #105266;
}

.textRatingM
{
  flex:1;
  font-weight: 700;
  color: var(--txt-rating);
  border-radius: 0 6px 0 0;
  border: 1px solid var(--li-bg-color);
  background-color: #6baa30;
}

.textRatingH
{
  flex:1;
  font-weight: 700;
  color: var(--txt-rating);
  border-radius: 0 6px 0 0;
  border: 1px solid var(--li-bg-color);
  background-color: #756454;
}

.textDescr{
  display: flex;
  flex-direction: row;
  border: none;
  border-style: none;
}

.textDescr2
{
  background-color: rgb(44, 50, 109);
  color: rgb(220, 235, 235);
  height:auto;
  min-height: 40px;
  text-align: justify;
  text-justify: auto;
  text-indent: 30px;
  font-size: 0.6em;
  padding: 0.5em;
  text-overflow: ellipsis;
  line-height: 0.9em;
}

.textDescr3
{
  background-color: rgb(44, 62, 220);
  color: rgb(220, 235, 235);
  height:auto;
  min-height: 40px;
  text-align: justify;
  text-justify: auto;
  text-indent: 30px;
  font-size: 1em;
  padding: 0.5em;
  text-overflow: ellipsis;
  line-height: 0.9em;
}

.titleAndRating{
  flex-direction: row;
  display: flex;
}

.ulElem{
  list-style: none;
  margin: 0;
  padding: 0;
  width:80%;
  align-items: center;
  background-color: transparent;
}

.liElem{

  width: 98%;
  padding: 5px;
  margin: 3px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
/*DROPDOWN*/
.dropdown {
  position: relative;
}

.dropdown > button{
  content:"";
  height:fit-content;
  border: solid 2px white;
  border-radius: 2px;
  padding:12px 20px 12px 20px;
  flex:1;
  background-color:transparent;
  font-size: 0.9em;
  font-weight: 700;
  color:aliceblue;
}

.dropdown > button:hover{
  background-color: rgb(48, 61, 116);
  border: solid 2px rgb(223, 241, 255);
  color:rgb(255, 255, 255);
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

/*  border: 1px solid grey;*/

}

.menu > li {
  margin: 0;

  background-color: rgb(20, 40, 82);
}

.menu > li:hover {
  background-color: rgb(93, 83, 187);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}